<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>

  <style>
    body {
        background-color: #333;
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
    }

    
    h1, p, h2 {
        display: block;
        width: fit-content;
        margin: 30px auto;
    }

    h1 {
        margin-top: 40vh !important;
    }
    a {
        color: #3498db;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>
</head>
<body>
  <h1>Welcome To My Application For Testing <span style="color: aqua;">Database!</span></h1>
  <h2>Mohsen Gholami - iMohsen02</h2>
  <p>Click <a href="/information-form">here</a> to submit a form.</p>
</body>
</html>